*{
    margin: 0px;
}
body{
}

/*Start of header styles*/

header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;  
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
}

header h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

header nav{
    font-family: 'Open Sans', sans-serif;
}

header nav a{
    margin-right: 50px;
    text-decoration: none;
}

/*End of header styles*/

/*Start of main styles*/

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

main div:first-child img{
    width: 75%;
    height: 100%;
}


