*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: 1.4rem;
    background-image: linear-gradient(rgba(100, 255, 190, 0.4),white);
    font-family: 'Open Sans', sans-serif;
}



/*Start of header styles*/

header{
    position: fixed;
    z-index: 10;
    background-color: white;
}

header div{
    display: flex;
    justify-content: space-between;
    height: 6rem;
    width: 100vw;
    top: 0;
    left: 0;
}
header div h1{ 
    align-self: center;
    padding-left: 3rem;
    width: 50%;
    font-weight: 700;
    font-size: 2.5rem;
    text-overflow: none;
    white-space: nowrap;
}

header div div:first-child{
    display: flex;
}

#navBar nav a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin: 1.5vw;
}

#navBar nav a:hover{
    color: gray;
}

/*Start - border around nav bar*/
#navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-width: 0.15rem;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background-color: white;
    transform: skew(+30deg);
    translate: 5rem;
    width: 100vw;
}

#navBar nav{
    transform: skew(-30deg);
    white-space: nowrap;
    z-index: 999;
    padding-right: 7vw;
}
/*End - border around nav bar*/



/*End of header styles*/

/*Start of introduction styles*/


#introduction section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-weight: 700;
    font-weight: bolder;
    font-size: 2rem;
}


#introduction section div:first-child img{
    margin-left: 20%;
    width: 70%;
    height: 100%;
}

#introduction section div:nth-child(2){
    margin-right: 10%;
}

.frase{
    overflow: auto;
    font-style: italic;
    font-weight: 300;
    font-size: 1.1rem;
    margin-top: 10px;
    color: rgb(60, 60, 60);
}
/*End of introduction styles*/

/*Start of About me styles*/
#aboutMe{
    padding-top: 10%;
}
#aboutMe div{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 50vh;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(100, 255, 190, 0.3);
}

#aboutMe div h2{
    padding-top: 5%;
}

#aboutMe div p{
    margin-top: 5%;
}


/*End of About me styles*/

/*Start of experience styles*/
#experience{
    display: flex;
    padding-top: 10%;
    margin-top: 20%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start
}

#experience section:first-child{
    display: block;
    font-size: 120px;
    margin-left: 10%;
    height: 100vh;
    width: 40%;
    white-space: nowrap;
    color: rgb(202, 202, 202);
    font-weight: bolder;
}

#experience section:nth-child(2){
    display: flex;
    flex-direction: column;
}

#experience section:nth-child(2) p{
    font-size: 1.2rem;
    color: rgb(168, 168, 168);
}

#experience section:nth-child(2) .xp{
    display: flex;
    flex-direction: row;
    width: 45vw;
    height: 25vh;
    background-color: rgba(100, 255, 190, 0.3);
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#experience section:nth-child(2) .xp .box{
    max-width: 50%;
    max-height: 100%;
    overflow: hidden;
    padding-top: 10px;
}

#experience section:nth-child(2) .xp .year{
    position: relative;
    right: 15%;
    top: 15%;
    z-index: 1;
}
/*End of experience styles*/


/*Start of formacao styles*/
#formacao section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20%;
    margin-top: 5%;
}
#formacao section div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    height: 30vh;
    width: 40vw;
    border-radius: 1rem;
    background-color: rgba(100, 255, 190, 0.3);
}

#formacao section div .curso{
    border-bottom-style: solid;
    height: 20%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-bottom: 5%
}

#formacao section div .informacaoCurso{
    background-color: transparent;
}

#formacao section div .informacaoCurso ul{
    list-style: none;
}

#formacao section div .informacaoCurso ul li{
    padding-bottom: 3%;
}
/*End of formacao styles*/



/*Start of footer styles*/
footer{
    height: 50vh;
    width: 100vw;
    margin-top: 30%;
    border-top-style: solid;
}
/*End of footer styles*/